.unlock-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 357px;
  padding: 30px;
  font-weight: 400;
  color: $silver-chalice;

  &__container {
    background: $white;
    display: flex;
    align-self: stretch;
    justify-content: center;
    flex: 1 0 auto;
  }

  &__title {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 2rem;
    color: $tundora;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
  }

  &__form {
    width: 100%;
    margin: 36px 0 8px;
  }

  &__links {
    margin-top: 25px;

    width: 100%;
  }

  &__link {
    cursor: pointer;

    &--import {
      color: $ecstasy;
    }

    &--use-classic {
      margin-top: 10px;
    }
  }
}
